body {
    padding: 20px;
    background-color: #72aec0;
    color: white;
    font-family: "Crimson Pro";
    font-size: 1.2em;
    width: 1000px;
}

input[type=text],[type=url],[type=number], select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #124261;
  color: white;
  border-radius: 6px;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid #ffffff;
}

input[type=submit] {
  width: 100%;
  background-color: #45a049;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  /*font-family: "Montserrat";*/
  letter-spacing: 0.2em;
  /*font-variant: small-caps;*/
}

input[type=submit]:hover {
  background-color: #7bff7b;
}

textarea{
	background-color: white;
	color: black;
	padding: 12px 20px;
	width: 100%;
	border-radius: 30px;
	border: none;
}

textarea:focus, input:focus{
    outline: none;
}

form{
	width: 100%;
}

label{
	margin-top: 20px;
	margin-left: 20px;
}

hr {
    display: block;
    border-top: 4px solid #ffffff;
    margin: 20px;
    border-radius: 	2px;
}

h3{
	margin-right: 10px;
	padding-top: 3px;
}

img{
	border-radius: 8px;
	border: 8px solid #ffffff;
	max-width: 400px;
	margin: 20px;
	/*max-height: 400px;*/
}

:link { color: #ffe066;}
:visited { color: #ffe066; }
a:hover { color: #80ffff; }

/* hides the up/down arrows in number input fields (bottom left of listing create page) */
input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.create {
  width: 750px;
  border-radius: 5px;
  background-color: #4baaea;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.description{
	margin: 20px;
	width: 400px;
}

.activeListing{
	display: flex;
	flex-wrap: wrap;
}

.subActiveListing{
	width: 400px;
	margin: 20px;
}

.searchCategory{
	width: 400px;
	margin: auto;
	text-align: center;
}

.listing{
	margin: 20px;
	margin-left: 0px;
	border-top: 3px solid #ffffff;
	border-radius: 	2px;
}

.layout{
	margin: 20px;
	width: 1500px;
}

.nav{
	letter-spacing: 0.2em;
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.layoutLink{
	margin-left: 10px;
	margin-right: 10px;
}

.loginOut{
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
}

.message{
	font-family: "Montserrat";
	font-size: 22px;
	color: #f4df84;
}

.formBottomSection{
	width: 200px;
	height: 50px;
	margin-bottom: 20px;
}

#leftBottomFeature{
	float: left;
}

#centreBottomFeature{
	float: left;
	margin-left: 20px;
}

#rightBottomFeature{
	float: right;
	text-align: right;
}