{% extends "auctions/layout.html" %}
{% block body %}
{% for article in allListings %}
{% with article.article as article %}
<!-- this template is almost identical to activeListings.html, except for the upper line. I'm a little bit annoyed by the fact that there's no way to assign template-global variables, which would have allowed me to create a if-else destinction at the top to differentiate between a render from activeListings and watchlist in views.py, meaning using one template that differentiates between db access of Listings and Watching (replacing variable value '.article' with '.article.article'). As far as I could see, it was logically not possible without having to have two for-loops (before and after 'else'), or two templates (as in this case), because the if-statements always encapsulate a variable assignment. Assigning a global variable before the if statement wouldn't work as values cannot get modified. I guess this is where you cry out for JavaScript. -->
	<div class = "activeListing">
		<div class = "activeListingImage"><img src="{{ article.imageLink }}"></div>
		<div class = "description">
			<h2><a href="{% url 'auctions:article' article_id=article.id %}">{{ article.listingName }}</a></h2>
			<h4>• {{ article.category }} •</h4>
			<br>{{ article.description }}<br><br>
			<div class = "price">
				Time remaining: {{article.times}}
				<br>Starting Bid: {{ article.startingBid }} €
			</div>
		</div>
	</div><hr>
</div>
{% endwith %}
{% endfor %}
{% endblock %}